.review-title {
  font-family: var(--serif);
  letter-spacing: 1px;
  font-size: 2rem;
}

.overall-rating {
  font-family: var(--sans-serif);
  font-weight: bolder;
  font-size: 1rem;
}

.star {
  margin: 0 3px;
}

.star > * {
  margin: 0 -3px;
}