.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  padding-right: 0;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  width: 100%;
  display: flex;
  transition: all 300ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: calc(100% - 20px);
  flex-shrink: 0;
  flex-grow: 1;
  font-size: inherit;
}


.index-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--green);
  display: none;
  cursor: pointer;
}

.index-circle-active{
  background-color: var(--gold);
}



@media only screen and (min-width: 1024px) {
  .index-circle {
    display: block;
  }

}
  
