::placeholder {
  color: black !important;
  font-size: 1rem;
}

input,
textarea {
  -webkit-appearance: none !important;
  border-radius: 0 !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
   -webkit-appearance: none !important;
   border-radius: 0 !important;
} 

.react-calendar {
  z-index: 1;
  position: absolute;
  border: none;
  font-family: var(--sans-serif);
  border-radius: 1rem;
}

.react-calendar button {
  color: var(--black);
}

.react-calendar__month-view__days__day--neighboringMonth {
  background: var(--white) !important;
  color: var(--gold) !important;
}

.react-calendar__tile--active {
  background: var(--gold) !important;
  border-radius: 1rem;
}

button:focus{
  background: none !important;
}

.react-calendar button:disabled {
  color: var(--black) !important; 
  background: lightgray !important;
}

.react-calendar__tile:not([disabled]):hover {
  background: var(--purple) !important;
  color: var(--white);
  border-radius: 1rem;
}

.react-calendar__navigation > *:hover {
  background: none !important;
}

#message-input {
  height: 100px;
  align-content: start;
  resize: none;
}

#contact-send {
  justify-content: center;
  font-size: 1rem;
  width: calc(100% - 40px);
  cursor: pointer;
}

.hidden {
  display: none;
}

.default {
  position: relative;
  z-index: 0;
}

.higher {
  position: relative;
  z-index: 1;
}

.under {
  position: relative;
  z-index: -1;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 100px solid var(--pink);
  border-left: 100vw solid transparent;
  -webkit-filter: drop-shadow(0px 5px 3px var(--black));
  filter: drop-shadow(0px 5px 3px rgba(0,0,0,.5));
} 

.black-rectangle {
  width: 100%;
  /* maybe not the right height */
  height: 50px;
  position: relative;
  z-index: -5;
  background-color: var(--black);
}
