::placeholder {
  color: black !important;
  font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.input-field {
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 50px) !important;
  margin: 10px 20px;
  padding: 15px 0 15px 10px;
  border-radius: 20px;
  border: none;
  color: black;
  background-color: lightgray !important;
  transition: background-color .6s ease !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.input-field:focus {
  outline: none;
  background-color: lightgoldenrodyellow !important;
}


#message-input {
  height: 100px;
  align-content: start;
  resize: none;
}

#contact-send {
  justify-content: center;
  font-size: 1rem;
  width: calc(100% - 40px);
  cursor: pointer;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  width: 25px;
  height: 15px;
  border-width: thin;
}

.hidden {
  display: none;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 100px solid var(--pink);
  border-left: 100vw solid transparent;
  -webkit-filter: drop-shadow(0px 5px 3px var(--black));
  filter: drop-shadow(0px 5px 3px rgba(0,0,0,.5));
} 

.black-rectangle {
  width: 100%;
  /* maybe not the right height */
  height: 50px;
  position: relative;
  z-index: -5;
  background-color: var(--black);
}

input {
  -webkit-appearance: none;
}